<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                        <p><%= product.productData.title %> (<%= product.qnty %>)</p>
                        <form action="/delete-cart-item" method="POST">
                            <input type="hidden" name="productId" value="<%= product.productData.id %>">
                            <button type="submit" class="btn">Remove</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% }else{ %>
            <h1>No product in cart</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>